<div class="social-counter-outer container-full animated-underglow">
  <div class="social-counter-headline">
    Stats and Social Counter
  </div>
<div class="social-counter-list">
  <div class="social-counter">
    <app-generic-counter [count_title]="'YouTube subs'" [count]="7100">
    </app-generic-counter>
  </div>
  <div class="social-counter">
    <app-generic-counter [count_title]="'Twitch follower'" [count]="1337">
    </app-generic-counter>
  </div>
  <div class="social-counter">
    <app-generic-counter [count_title]="'Peak MMR'" [count]="1337">
    </app-generic-counter>
  </div>
</div>
</div>
