<div class="social-counter-outer container-app-medium">
  <div class="social-counter-text">
    Stats and Social Counter
  </div>
<div class="social-counter-list">
  <div class="social-counter">
    <app-generic-counter [count_title]="'YouTube'" [count]="1337">
    </app-generic-counter>
  </div>
  <div class="social-counter">
    <app-generic-counter [count_title]="'Twitch'" [count]="1337">
    </app-generic-counter>
  </div>
  <div class="social-counter">
    <app-generic-counter [count_title]="'MMR'" [count]="1337">
    </app-generic-counter>
  </div>
</div>
</div>
