.social-counter-outer {
  width: 100%;
  display: flex;
  flex-flow: column;
  background: var(--bg-color);
  padding-top: calc(var(--build-unit) * 2);
  padding-bottom: calc(var(--build-unit) * 2);

  gap: calc(var(--build-unit) * 4);


  .social-counter-list {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    @media only screen and (min-width: 1025px) {
      flex-flow: row nowrap;
      gap: calc(var(--build-unit) * 4);
    }

    @media only screen and (min-width: 1981px) {
      flex-flow: row nowrap;
      gap: calc(var(--build-unit) * 10);
    }

    .social-counter {
      box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px !important;
      z-index: 9999;

      &:hover {
        transform: translateY(5%) !important;
        cursor: pointer;

      }

      width: 100%;
      background: conic-gradient(from 45deg, var(--secondary-color) 10%, var(--primary-color) 30%, var(--secondary-color) 30%),
      conic-gradient(from 360-45deg, var(--secondary-color) 10%, var(--primary-color) 30%, var(--bg-color) 50%),
      conic-gradient(from 180deg, var(--secondary-color) 10%, var(--secondary-color) 30%, var(--bg-color) 30%),
      linear-gradient(to bottom, var(--secondary-color) 25%, var(--primary-color) 10%, var(--secondary-color) 45%),
      linear-gradient(to top right, var(--secondary-color) 25%, var(--primary-color) 10%, var(--bg-color) 45%);
      @media only screen and (min-width: 1025px) {
        width: fit-content(100%);
        max-width: 32%;
        min-width: 150px;
      }
    }
  }

  .social-counter-headline {
    text-align: center;
    font-size: var(--title-font-mobile);
    line-height: var(--title-font-mobile);
    text-shadow: var(--text-outline-headline);
    color: var(--title-color);
    font-weight: 700;
    @media only screen and (min-width: 661px) {
      font-size: calc(var(--title-font));
      line-height: calc(var(--title-font));
    }
    @media only screen and (min-width: 1025px) {
      font-size: calc(var(--title-font) * 1.33);
      line-height: calc(var(--title-font) * 1.33);
    }
    @media only screen and (min-width: 1981px) {
      font-size: calc(var(--title-font) * 1.66);
      line-height: calc(var(--title-font) * 1.66);
    }
  }

}
