<div class="text-media">
  <div class="text-media-image" *ngIf="imgOrientation === 'left'">
    <img class="img-fluid text-media-icon__{{imgOrientation}}" src="{{image}}">
  </div>
  <div [style]="{color: colorOverride}" class="text-media-text text-media-text__{{imgOrientation}}">
    @for (item of lines; track item.toString()) {
      <p>{{item}}</p>
    }
    <div class="text-media-button">
      <app-button [btnType]="buttonType" [btnLink]="buttonUrl" [btnLabel]="buttonText"></app-button>
    </div>
  </div>
  <div class="text-media-image" *ngIf="imgOrientation === 'right'">
    <img class="img-fluid text-media-icon__{{imgOrientation}}" *ngIf="imgOrientation === 'right'" src="{{image}}">
  </div>

</div>
