<div class="footer">
  <div class="footer-item">
    <div class="footer-hint--left">Impress</div>
  </div>
  <div class="footer-item">
    <img src="assets/icons/instagram.svg">
    <img src="assets/icons/patreon.png">
    <img src="assets/icons/twitch.svg">
    <img src="assets/icons/discord.png">
    <img src="assets/icons/youtube.svg">
    <img src="assets/icons/x.jpg">
  </div>
  <div class="footer-item">
    <div class="footer-hint--right">Made by MX Media <br> check us out</div>
  </div>
</div>
