
.footer {
  background-color: var(--footer-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  height: var(--footer-height-small);

  @media only screen and (min-width: 1025px) {
    align-content: center;
    align-items: center;
    height: var(--footer-height-medium);
    justify-content: space-around;
  }
  @media only screen and (min-width: 1981px) {
    height: var(--footer-height-large);
  }

  .footer-item {
    width: 33%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;

    .footer-icon {
      align-self: center;
      height: auto;
      width: 40px;
      @media only screen and (min-width: 661px) {
        gap: calc(var(--build-unit));
        height: auto;
        width: 60px;
      }
      @media only screen and (min-width: 1025px) {
        height: auto;
        width: 80px;
        justify-content: center;
        align-items: center;
        gap: calc(var(--build-unit)*2);
      }
    }
  }



  .footer-hint--left {
    display: flex;
    flex-flow: column nowrap;
    font-size: var(--footer-hint-font);
    line-height: var(--footer-hint-font);
    text-align: center;
    margin-top: calc(var(--build-unit)*2);
  }

  .footer-hint--right {
    display: flex;
    flex-flow: column nowrap;
    font-size: var(--footer-hint-font);
    line-height: var(--footer-hint-font);
    text-align: center;
    margin-top: calc(var(--build-unit)*2);
  }



  .footer-text {
    text-align: center;
  }

  .footer-subtext {
    text-align: center;
    font-size: calc(var(--build-unit) *1.5);
    line-height: calc(var(--build-unit) *1.5);
  }

}

