<div class="footer modal-keep-open">
  <div class="footer-item">
    <div id="3335"(click)="openModal('Impress')" class="modal-keep-open footer-hint--left">
      <div class="footer-text modal-keep-open">Impress Page</div>
      <div class="footer-subtext modal-keep-open link">click to view</div>
    </div>
  </div>
  <div class="footer-item">
    <img (click)="navigate('insta')" class="footer-icon" src="assets/icons/instagram.svg">
    <img (click)="navigate('patreon.com/5updota')" class="footer-icon" src="assets/icons/patreon.png">
    <img (click)="navigate('youtube.com/@5updota')" class="footer-icon" src="assets/icons/yt.svg">
    <img (click)="navigate('discord.gg/u6j8m3MHA2')" class="footer-icon" src="assets/icons/discord.png">
    <img (click)="navigate('twitch.tv/5updota')" class="footer-icon" src="assets/icons/twitch.svg">
    <img (click)="navigate('twitter.com/5updota')" class="footer-icon" src="assets/icons/x.jpg">
  </div>
  <div class="footer-item">
    <div id="3334" (click)="openModal('MxMedia')" class="modal-keep-open footer-hint--right">
      <div class="footer-text modal-keep-open">by MxMedia</div>
      <div class="footer-subtext modal-keep-open link">click to contact</div>
    </div>
  </div>
</div>
