
.footer {
  background-color: var(--footer-color);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: calc(var(--build-unit) * 3);
  @media only screen and (min-width: 1025px) {
    padding-top: unset;
    flex-flow: row nowrap;
    align-content: unset;
  }
  height: var(--footer-height);

  .footer-item {
    width: 33%;
    display: flex;
    justify-content: center;
    height: 100%;

    .footer-icon {
      align-self: center;
      max-height: 50px;
      width: auto;
    }

    @media only screen and (min-width: 1025px) {
      justify-content: center;
      align-items: flex-start;
    }
  }



  .footer-hint--left {
    display: flex;
    flex-flow: column nowrap;
    font-size: var(--footer-hint-font);
    line-height: var(--footer-hint-font);
    margin-top: var(--footer-hint-margin-top);
    text-align: center;
  }

  .footer-hint--right {
    display: flex;
    flex-flow: column nowrap;
    font-size: var(--footer-hint-font);
    line-height: var(--footer-hint-font);
    margin-top: var(--footer-hint-margin-top);
    text-align: center;
  }



  .footer-text {
    text-align: center;
  }

  .footer-subtext {
    text-align: center;
    font-size: calc(var(--build-unit) *1.5);
  }

  img {
    width: 60px;
    height: 60px;
    padding-left: 4px;
    padding-right: 4px;
  }

}

