<div class="info-text container-app-medium">
  <div class="info-text--left">
    <app-textmedia [lines]="textMediaRight" [buttonText]="'YOUTUBE'" [buttonUrl]="'https://www.youtube.com/@5updota/videos'" class="info-text--right__element"></app-textmedia>
  </div>
  <div class="info-text--right">
    <app-textmedia [lines]="textMediaLeft" [buttonText]="'PATREON'" [buttonUrl]="'https://www.patreon.com/5updota'" class="info-text--left__element" [imgOrientation]="'left'"></app-textmedia>
  </div>
</div>

