<div class="info-text container-app-small x-margin-top">
  <app-textmedia  [colorOverride]="'hsl(58 83% 65% / 1)'" [imgOrientation]="'left'" [image]="'assets/qopresize2.png'" [lines]="textMediaLeft" [buttonText]="'PATREON'" [buttonUrl]="'www.patreon.com/5updota'" ></app-textmedia>
  <app-textmedia [buttonType]="'secondary'" [colorOverride]="'hsl(178.34 100% 82.16%)'" [image]="'assets/yt.png'" [lines]="textMediaRight" [buttonText]="'YOUTUBE'" [buttonUrl]="'www.youtube.com/@5updota/videos'"></app-textmedia>
</div>

