.basic-button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 8px;
  margin: 6px 0;
  font-size: var(--button-font-size);
  border-radius: var(--button-border-radius);
  font-weight: var(--button-font-weight);
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  width: inherit;
  height: 100%;

  &--default {

  }

  &--primary {
    color: var(--primary-btn-text-color);
    background-color: var(--primary-btn-bg-color);
    border: 1px solid var(--primary-btn-border-color);
    &:hover {
      transform: translateY(5%);
      cursor: pointer;
      color: var(--primary-color);
      background-color: var(--quart-color);
      border: 1px solid var(--quart-color);
    }
  }
  &--secondary {
    color: var(--secondary-btn-text-color);
    background-color: var(--secondary-btn-bg-color);
    border: 1px solid var(--secondary-btn-border-color);

    &:hover {
      cursor: pointer;
      color: var(--lightblue);
      transform: translateY(5%);
      border: 1px solid var(--med-blue);
      background-color: var(--med-blue);
    }
  }

}
