.basic-button {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 6px 8px 6px 8px;
  margin: 6px 8px 6px 8px;
  border-radius: 3px;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  width: 100%;
  outline: none;


  &--default {

  }

  &--primary {
    color: var(--primary-btn-text-color);
    background-color: var(--primary-btn-bg-color);
    border: 1px solid var(--primary-btn-border-color);
  }
  &--secondary {
    color: var(--secondary-btn-text-color);
    background-color: var(--secondary-btn-bg-color);
    border: 1px solid var(--secondary-btn-border-color);
  }

}
