<div class="container-full">
  <div class="feed">FOLLOW ME ON
    <div class="feed-images">
      <app-icon-with-link [src]="'assets/yt.png'" [title]="'YouTube'" [link]="'https://www.youtube.com/@5updota'"></app-icon-with-link>
      <app-icon-with-link [src]="'assets/patreon.png'" [title]="'Patreon'" [link]="'https://www.youtube.com/@5updota'"></app-icon-with-link>
      <app-icon-with-link [src]="'assets/twitch.png'" [title]="'Twitch'" [link]="'https://www.youtube.com/@5updota'"></app-icon-with-link>
      <app-icon-with-link [src]="'assets/twitter.jpg'" [title]="'Twitter'" [link]="'https://twitter.com/5updota'"></app-icon-with-link>
    </div>
  </div>
</div>
