:root {
  --primary-btn-bg-color: #FF7F50;
  --primary-btn-text-color: #07041f;
  --primary-btn-border-color: #FF7F50;
  --secondary-btn-bg-color: #89a6d6;
  --secondary-btn-text-color: #07041f;
  --secondary-btn-border-color: #89a6d6;
  --button-font-size: 16px;
  --button-font-weight: 800;
}
