:root {
  --navbar-height: 112px;
  --navbar-height-medium: 80px;
  --navbar-height-small: 64px;
  --nav-font: 1rem;
  --nav-color: var(--fifth-color);
  --nav-bottom-color: var(--nav-bg-color);
  --nav-text-outline-color: var(--nav-bg-color);
  --nav-bg-color: var(--transparent-black-055);
}
