.accordion-label:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.accordion-label:last-of-type {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.accordion {
  display: flex;
  flex-flow: column;
 // border: 1.5px var(--transparent-black-085) solid;



  .accordion-label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: calc(var(--build-unit)*2);

    font-size: calc(var(--title-font-mobile) * 0.9);
    line-height: var(--title-font-mobile);

    @media only screen and (min-width: 661px) {
      font-size: calc(var(--title-font));
      line-height: calc(var(--title-font));
    }
    @media only screen and (min-width: 1025px) {
      font-size: calc(var(--title-font)*1.1);
      line-height: calc(var(--title-font)*1.15);
    }
    @media only screen and (min-width: 1981px) {
      font-size: calc(var(--title-font)*1.2);
      line-height: calc(var(--title-font)*1.3);
    }

    color: var(--accordion-label-color);
    background: linear-gradient(30deg, var(--secondary-color), var(--bg-color), var(--transparent-black-055), var(--bg-color)),
    linear-gradient(330deg, var(--transparent-black-085), var(--bg-color), var(--secondary-color), var(--bg-color)),
    linear-gradient(20deg, var(--bg-color), var(--transparent-black-085), var(--bg-color), var(--bg-color)),
    linear-gradient(50deg, var(--bg-color), var(--bg-color), var(--transparent-black-055), var(--bg-color)),
    linear-gradient(222deg, var(--transparent-black-085), var(--bg-color), var(--transparent-black-085), var(--bg-color)),
    linear-gradient(123deg, var(--bg-color), var(--secondary-color), var(--bg-color), var(--bg-color)),
    linear-gradient(180deg, var(--bg-color), var(--transparent-black-085), var(--transparent-black-055), var(--secondary-color));

    &:hover {
      cursor: pointer;
      background-color: var(--accordion-label-hover-bg-color);
      color: var(--accordion-label-hover-color);
      //border: 1px solid var(--accordion-label-hover-bg-color);
    }


  }
  .accordion-text {
    text-align: right;
    display: none;
    padding: 16px;
    color: var(--accordion-text-color);
    font-size: var(--text-font-mobile);
    line-height: var(--text-font-mobile);
    &:hover {
      cursor: pointer;
      background-color: var(--accordion-text-hover-bg-color);
      color: var(--accordion-text-hover-color);
      border: 1px solid var(--accordion-text-hover-color);
    }

    @media only screen and (min-width: 661px) {
      font-size: calc(var(--text-font));
      line-height: calc(var(--text-font));
    }
    @media only screen and (min-width: 1025px) {
      font-size: calc(var(--text-font)*1.25);
      line-height: calc(var(--text-font)*1.25);

    }
    @media only screen and (min-width: 1981px) {
      font-size: calc(var(--text-font)*1.5);
      line-height: calc(var(--text-font)*1.5);
      ;
    }
  }
}

.accordion-bg-expanded {
  color: var(--fifth-btn-text-color);
  background-color: var(--bg-color);
  background: linear-gradient(30deg, var(--secondary-color), var(--bg-color), var(--transparent-black-055), var(--bg-color)),
  linear-gradient(330deg, var(--transparent-black-085), var(--bg-color), var(--secondary-color), var(--bg-color)),
  linear-gradient(20deg, var(--bg-color), var(--transparent-black-085), var(--bg-color), var(--bg-color)),
  linear-gradient(50deg, var(--bg-color), var(--bg-color), var(--transparent-black-055), var(--bg-color)),
  linear-gradient(222deg, var(--transparent-black-085), var(--bg-color), var(--transparent-black-085), var(--bg-color)),
  linear-gradient(123deg, var(--bg-color), var(--secondary-color), var(--bg-color), var(--bg-color)),
  linear-gradient(180deg, var(--bg-color), var(--transparent-black-085), var(--transparent-black-055), var(--secondary-color));
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
