.stage {

  margin-bottom: var(--small-margin);

  &.-image {
    position: relative;
  }

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: calc(100vh + 48px);
  }

  .overlay {
    position: absolute;
  }

  .overlay_0 {
    left: 12.5vw;
    top: 12.5vh;
    @media only screen and (min-width: 1025px) {
      left: 8vw;
      top: 25vh;
      padding: .5rem;
      margin: 4px;
    }

    &--content {
      display: flex;
      flex-flow: column;
      width: calc(92vw - var(--medium-margin));
      align-items: flex-start;

      .stage-headline {
        font-size: var(--title-font-mobile);
        line-height: var(--title-font-mobile);
        max-width: 87.5%;
        color: var(--title-color);
        font-weight: bold;
        text-shadow: var(--text-outline-headline);

        @media only screen and (min-width: 1025px) {
          max-width: unset;
          font-size: var(--title-font);
          line-height: var(--title-font);
        }
      }

      .stage-text {
        color: var(--stage-text-color);
        max-width: 87.5%;
        font-size: var(--text-font-mobile);
        @media only screen and (min-width: 1025px) {
          max-width: 45%;
          font-size: var(--text-font);
          font-weight: 600;
        }
      }

      .stage-cta {
        font-size: var(--text-font-mobile);
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 87.5%;

        .stage-button {
          width: 66%;
        }

        @media only screen and (min-width: 1025px) {
          flex-flow: row wrap;
          justify-content: flex-start;
          max-width: 45%;
          font-size: var(--text-font);
          gap: var(--small-margin);

          .stage-button {
            width: revert;
          }
        }
      }
    }
  }
}
