/* You can add global styles to this file, and also import other style files */
body {
  margin: unset;
  padding: unset;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}


* {
  font-size: x-large;
}

.show-me {
  display: revert !important;
}
