/* You can add global styles to this file, and also import other style files */
@import "style/variables";
.site-container {

}
:root {
  background-blend-mode: color;
}
body {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
  color: var(--text-color);
  font-size: var(--text-font);
  text-shadow: var(--text-outline-default);
  line-height: calc(var(--text-font));}

.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  //background: cyan;
}

.link {
  text-decoration: underline;
  text-decoration-color: darken(#70A7C2FF, 30%);
  text-align: center;
  font-size: var(--text-font);
  line-height: var(--text-font);
}

.link:hover {
  color: var(--primary-color)
}

.show-me {
  border: unset !important;
  display: revert !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container-full {
}

.container-app-medium {
  margin-left: var(--container-margin-medium);
  margin-right: var(--container-margin-medium);
}

.container-app-small {
  margin-left: var(--container-margin-small);
  margin-right: var(--container-margin-small);
}


.container-app-large {

  margin-left: var(--container-margin-large);
  margin-right: var(--container-margin-large);
}

.cool-bg {
  flex-flow: column;
  width: 100%;
  background-image: url("~src/assets/bgdarkened.png");
}

.arrow-icon {
  width: 64px;
  height: auto;
  font-weight: 900;
  pointer-events: none
}

.rotate-icon-class {
  transform: rotateZ(90deg);
}

.rotate-icon-class--revert {
  transform: rotateZ(-90deg);
}

