.faq {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-bottom: var(--medium-margin);

  .faq-accordion {

    @media only screen and (min-width: 1025px) {
      width: 60%;
    }
    @media only screen and (min-width: 1981px) {
      width: 70%;
    }

    border-radius: var(--border-radius);

    .bottom-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      justify-items: center;
      align-items: center;
      width: 100%;
    }

  }

  .faq-image {
    display: none;
    @media only screen and (min-width: 1025px) {
      max-width: 40%;
      display: revert;
      height: 600px;
      width: auto;
      align-self: flex-end;
    }
    @media only screen and (min-width: 1981px) {
      max-width: 30%;
      display: revert;
      height: 600px;
      width: auto;
      align-self: flex-end;
    }
  }

  .faq-text {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  .faq-title {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    text-shadow: var(--text-outline-headline);
    padding-bottom: var(--build-unit);
    text-align: center;
    color: var(--title-color);

    font-size: var(--title-font-mobile);
    line-height: var(--title-font-mobile);

    @media only screen and (min-width: 661px) {
      font-size: calc(var(--title-font));
      line-height: calc(var(--title-font));
    }
    @media only screen and (min-width: 1025px) {
      font-size: calc(var(--title-font)*1.33);
      line-height: calc(var(--title-font)*1.33);
    }
    @media only screen and (min-width: 1981px) {
      font-size: calc(var(--title-font)*1.66);
      line-height: calc(var(--title-font)*1.66);
    }


  }
}
