<div class="faq container-app-medium">
  <img class="faq-image" src="assets/5up.png">
  <div class="faq-accordion">
    <div class="faq-title">FAQ</div>
    <app-accordion [id]="1" [question]="'What was your highest rank'" [answer]="'My highest rank was around 110 back in 2020 with 9,9k MMR. Today im around rank 400-500 with 10,2k MMR'"></app-accordion>
    <app-accordion [id]="2" [question]="'Where are you from'" [answer]="'Im half tunisian and half german but I was born in germany and I also live in germany'"></app-accordion>
    <app-accordion [id]="3" [question]="'What heroes do you main'" [answer]="'My current hero pool on the position 4 role is: Tiny, Rubick, Mirana and Clockwerk'"></app-accordion>
    <app-accordion [id]="4" [question]="'How does a coaching session work'" [answer]="'Im open to do whatever you wanna do. Usually I watch 1 or 2 replays from my students and then I watch 1 or 2 replays from pro players or myself to explain the mistakes they are doing compared to better players'"></app-accordion>
    <app-accordion [id]="5" [question]="'What are you doing besides dota'" [answer]="'Im doing a education as a businessmen in E-Commerce and im trying to build up a community while playing and doing content with dota 2'"></app-accordion>
    <app-accordion [id]="6" [question]="'In what ways can we support you'" [answer]="'You can simply just support me by watching my youtube videos or my live streams on twitch. If your interessted in supporting me even more and you wanna learn something at the same time feel free to subscribe to my patreon!'"></app-accordion>
  </div>
</div>
<button (click)="openAll()">OPEN ALL</button>
<button (click)="closeAll()">CLOSE ALL</button>
